services:
  archlinux:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: dotfiles-archlinux
    volumes:
      - .:/home/heron/Workbench/dotfiles
    working_dir: /home/heron/Workbench/dotfiles
    command: /bin/zsh
    stdin_open: true
    tty: true

  ubuntu:
    build:
      context: .
      dockerfile: Dockerfile.ubuntu
    container_name: dotfiles-ubuntu
    volumes:
      - .:/home/heron/Workbench/dotfiles
    working_dir: /home/heron/Workbench/dotfiles
    command: /bin/bash
    stdin_open: true
    tty: true

  fedora:
    build:
      context: .
      dockerfile: Dockerfile.fedora
    container_name: dotfiles-fedora
    volumes:
      - .:/home/heron/Workbench/dotfiles
    working_dir: /home/heron/Workbench/dotfiles
    command: /bin/bash
    stdin_open: true
    tty: true

  opensuse:
    build:
      context: .
      dockerfile: Dockerfile.opensuse
    container_name: dotfiles-opensuse
    volumes:
      - .:/home/heron/Workbench/dotfiles
    working_dir: /home/heron/Workbench/dotfiles
    command: /bin/bash
    stdin_open: true
    tty: true

  # Test bootstrap script (remote installation simulation)
  bootstrap:
    build:
      context: .
      dockerfile: Dockerfile.bootstrap
    container_name: dotfiles-bootstrap
    working_dir: /home/egret
    command: /bin/bash
    user: "egret:wheel"
    stdin_open: false
    tty: false
